/* variables */
:root {
    /* font family */
    --main-font: 'Roboto', sans-serif;

    /* background colors */
    --dark-bckgrnd-color: #1f2937;
    --blue-bckgrnd-color: #3882f6;
    --grey-bckgrnd-color: #e5e7eb;

    /* text colors */
    --white1-txt-color: #f9faf8;
    --white2-txt-color: #e5efeb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: var(--main-font);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    letter-spacing: 1px;
    background-color: var(--dark-bckgrnd-color);
}

a {
    text-decoration: none;
    color: var(--white2-txt-color);
}

li {
    list-style: none;
}

/* ------------ wrapper ------------ */
.wrapper {
    height: auto;
    position: relative;
}

/* ---- header ---- */
.header {
    background-color: var(--dark-bckgrnd-color);
    color: var(--white1-txt-color);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 2px 6px -1px var(--dark-bckgrnd-color);
    z-index: 999;
}

/* ------------ start: selection of classes ------------ */
.navbar,
.logo,
.nav-list,
.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar,
.hero {
    width: 80%;
    margin: auto;
}

.hero-left,
.hero-right {
    flex: 1;
    height: 250px;
}

.content-text p,
.nav-link,
.card-description p,
.text p {
    font: 300 1.125rem/1.2 var(--main-font);
}

/* ------------ end: selection of classes ------------ */

/* -- navbar -- */
.navbar {
    justify-content: space-between;
}

/* logo */
.logo {
    cursor: pointer;
}

.logo span {
    font-size: 1.25rem;
}

.logo span:first-child {
    margin-right: 1px;
    font-size: 2.25rem;
}

.logo span:last-child {
    text-transform: capitalize;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 4px solid;
    padding-right: .5rem;
}

/* nav list */
.nav-list {
    gap: 1.25rem;
}

/* nav item */
.nav-item {
    gap: .25rem;
    text-transform: capitalize;
}

/* nav item icons */
.nav-item span {
    display: none;
}

/* nav link */
.nav-link {
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    color: var(--white1-txt-color);
    text-decoration: 4px underline var(--white1-txt-color);
    text-underline-offset: 1rem;
}

/* ---- hero content ---- */
.hero {
    height: auto;
    background-color: var(--dark-bckgrnd-color);
    color: var(--white1-txt-color);
    margin: 4rem auto;
    padding: 4rem 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 2rem;
}

/* -- left content -- */
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* content title */
.content-title h1 {
    color: var(--white1-txt-color);
    font: normal 900 3rem var(--main-font);
}

/* content button */
.content-btn a {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: .25rem 2rem;
    background: var(--blue-bckgrnd-color);
    font: 500 1.125rem/1.2 var(--main-font);
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: var(--white1-txt-color);
    text-transform: capitalize;
}

/* .content-btn */
.content-btn a:hover {
    outline: 2px solid var(--white1-txt-color);
    outline-offset: 2px;
}

/* -- right content -- */
.hero-right {}

/* hero right image */
.hero-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* ---- sections ---- */
/* --- services --- */
.services {
    margin: 2rem 0 0;
    padding: 4rem 0 2rem;
    background-color: var(--white1-txt-color);
}

.services h2 {
    text-align: center;
    margin-bottom: 2rem;
    font: 700 2.25rem var(--main-font);
    text-transform: capitalize;
}

/* -- service content */
.services-content {
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

/* item */
.item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.item dfn {
    font: 500 1.25rem var(--main-font);
}

.item-image {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 4px solid var(--blue-bckgrnd-color);
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow .5s ease-in-out;
}

.item-image:hover {
    box-shadow: 3px 3px 6px var(--dark-bckgrnd-color), -3px -3px 8px var(--grey-bckgrnd-color);
}

.item-image img {
    width: 100%;
    transition: transform .5s ease-in-out;
}

.item-image img:hover {
    transform: scale(1.1);
}

/* text */
.text p {
    text-align: center;
}

/* --- Testimonials --- */
.testimonials {
    background-color: var(--grey-bckgrnd-color);
    padding: 4rem 0;
}

/* testimonial content */
.testimonial-content {
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

/* testimonial div */
.testimonial-content div {
    flex: 1 1 auto;
}

/* testimonial image */
.testimonial-image {
    width: 150px;
    height: 150px;
}

.testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid var(--white1-txt-color);
    border-radius: 100%;
}

/* testimonial text */
.testimonial-text {
    width: calc(100% - (2rem + 150px));
}

.testimonial-text q {
    font: italic 300 1.2rem/1.4 var(--main-font);
}

.testimonial-text span {
    display: block;
    text-align: end;
}

/* --- sign up area --- */
.signup-area {
    background-color: var(--white1-txt-color);
    padding: 4rem 0;
}

/* sign up content */
.signup-content {
    background-color: var(--blue-bckgrnd-color);
    color: var(--white1-txt-color);
    width: 70%;
    margin: auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

/* sign up message */
.signup-msg h3 {
    font: 500 1.25rem/1.8 var(--main-font);
}

.signup-msg p {
    font: 400 1rem/1.2 var(--main-font);
}

/* sign up button */
.signup-btn button {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: .25rem 2rem;
    background: transparent;
    color: var(--white1-txt-color);
    border: 1px solid var(--white1-txt-color);
    font: 500 1.125rem/1.2 var(--main-font);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.signup-btn button:hover {
    outline: 2px solid var(--white1-txt-color);
    outline-offset: 2px;
}

/* --- footer --- */
.footer {
    padding: 2rem;
    text-align: center;
    color: var(--white2-txt-color);
}

/* footer a */
.footer a {
    transition: all .3s ease-in-out;
}

.footer a:hover {
    text-decoration: 2px underline;
    text-underline-offset: .5rem;
}

@media (max-width: 480px) {

    .navbar {
        width: 100%;
        padding: 0 1rem;
    }

    .hero {
        width: 90%;
        margin: 4rem auto;
        padding: 0;
        flex-direction: column;
    }

    .hero-left {
        gap: 1rem;
    }

    .content-text p,
    .nav-link,
    .card-description p,
    .text p {
        font: 300 1rem/1.2 var(--main-font);
    }

    .services h2 {
        padding: 0 2rem;
        font: 700 1.75rem/1.2 var(--main-font);
    }

    .services-content {
        width: 100%;
        gap: 1rem;
    }

    .item {
        width: 90%;
        margin-bottom: 1rem;
        padding: 1rem;
        /* border: 1px solid red; */
        border-radius: 5px;
        box-shadow: 0 0 10px -1px var(--grey-bckgrnd-color);
    }

    .item-image {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item-image img {
        width: 150px;
        height: 150px;
    }

    .item:last-child {
        margin-bottom: 2rem;
    }

    .testimonials {
        padding: 2rem 0;
    }

    .testimonial-content {
        width: 90%;
        flex-flow: column;
        align-items: center;
    }


    /* testimonial div */
    .testimonial-content div {
        /* width: inherit;
        height: inherit; */
        flex: initial;
    }

    .testimonial-text {
        width: inherit;
    }

    .testimonial-text q {
        font: italic 300 1rem/1.6 var(--main-font);
    }

    .testimonial-text span {
        display: block;
        text-align: end;
    }

    /* sign up content */
    .signup-content {
        width: 100%;
        padding: 2rem;
        border-radius: 0;
        gap: 1rem;
        flex-direction: column;
    }

}